body {
    margin : 0;
    padding: 0;
}

.main {
    width           : 100%;
    height          : 100vh;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    background-color: black;
    color           : orange;
}

.timer {
    width           : 250px;
    height          : 250px;
    border-radius   : 50%;
    box-shadow      : 0 0 20px rgba(170, 248, 253, 0.479);
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: black;
    color           : orange;
}

.btn {
    width        : 50px;
    height       : 50px;
    border-radius: 50%;
    color: #fff;
}

.btn-start {
    background-color: green;
}

.btn-stop {
    background-color: darkred;
}

.btn-reset {
    background-color: rgb(214, 214, 214);
}
.w-btn {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
}